<%= form_tag auth.reset_password_path, action: "post" do %>
  <div class="form-group">
    <%= label_tag :password %>
    <%= password_field_tag :password, params[:password], class: "form-control" %>
    <small class="form-text text-danger"><%= auth.field_error(:password) %></small>
  </div>
  <div class="form-group">
    <%= label_tag :confirm_password %>
    <%= password_field_tag :confirm_password, params[:confirm_password], class: "form-control" %>
    <small class="form-text text-danger"><%= auth.field_error(:confirm_password) %></small>
  </div>
  <%= submit_tag "Reset Password", class: "btn btn-primary" %>
<% end %>
