<%= form_tag auth.request_reset_password_path, action: "post" do %>
  <p>If you have forgotten your password, you can request a password reset:</p>
  <div class="form-group">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email], class: "form-control" %>
    <small class="form-text text-danger"><%= auth.field_error(:email) %></small>
  </div>
  <%= submit_tag "Request password reset", class: "btn btn-primary" %>
<% end %>
